fastapi==0.115.4
numpy==1.26.4
pillow==10.4.0
tensorboard==2.12.0
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-serving-api==2.12.0
uvicorn==0.32.0
python-multipart==0.0.17  perbaiki !
